@import "node_modules/coffeekraken-sugar/index";

@include s-setup(());
@include s-init();
@include s-classes();

body {
  padding: s-space(bigger);
}
s-donut {
  width: s-rem(250px);
  margin: s-space(default);
}
#donut1 {
  color: s-color(default)
}
#donut2 {
  color: s-color(primary)
}
#donut3 {
  color: s-color(secondary)
}
  .donut__value {
    font-size: s-rem(60px);
    display: block;
  }
